<ion-content padding>


  <ion-grid class="fillGrid">
    <ion-row>
      <ion-col>
        <ion-item class="items borderless">
          <ion-buttons slot="start">
            <ion-back-button defaultHref="/login"></ion-back-button>
          </ion-buttons>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="items borderless">
          <h2>Registering...</h2>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid id="centerGrid">
    <ion-row id="centerRow">
      <ion-col>
        <form [formGroup]="registerForm">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item class="items">
                  <ion-label position="floating">Password:</ion-label>
                  <ion-input start #password formControlName="password" type="password" (keyup)="confirmPw()">
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div class="error-messages">
                  <ng-container *ngFor="let validation of error_messages.password">
                    <div class="error-message"
                      *ngIf="registerForm.get('password').hasError(validation.type) && (registerForm.get('password').dirty || registerForm.get('password').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item class="items">
                  <ion-label position="floating">Confirm Password:</ion-label>
                  <ion-input start #confirmPassword type="password" (keyup)="confirmPw()"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div class="error-messages">
                  <div class="error-message" *ngIf="!passwordMatch">
                    <p>The password does not match!</p>
                  </div>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item class="items borderless">
                <ion-button id="registerBtn" type="submit" (click)="RegisterAccount()" [disabled]="!btnClickable" >Register</ion-button>
              </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid class="fillGrid">
    <ion-row>
      <ion-col>
        <ion-item class="items borderless">
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>