<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Change Password</ion-title>
    <button ion-button slot="start" icon-only routerLink="/tabs/profile" style="background-color: transparent;" routerDirection="backward" >
      <ion-icon style="font-size: 20px;color:black;" name="arrow-back-outline"></ion-icon>
    </button>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-grid class="fillGrid fillGridTop">
    <ion-row>
      <ion-col>
        <ion-item lines="none">
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="items" lines="none">
          <ion-img id="nypLogo" src="../assets/nyp.png"></ion-img>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid id="centerGrid">
    <ion-row id="centerRow">
      <ion-col>
        <form [formGroup]="changePwForm">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item class="items">
                  <ion-label class="fixedLabels">Old Password:</ion-label>
                  <ion-input start #oldPassword formControlName="oldPassword" type="password" (keyup)="ConfirmPw()">
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div class="error-messages">
                  <ng-container *ngFor="let validation of error_messages.oldPassword">
                    <div class="error-message"
                      *ngIf="changePwForm.get('oldPassword').hasError(validation.type) && (changePwForm.get('oldPassword').dirty || changePwForm.get('oldPassword').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item class="items">
                  <ion-label class="fixedLabels">New Password:</ion-label>
                  <ion-input start #newPassword formControlName="newPassword" type="password" (keyup)="ConfirmPw()">
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div class="error-messages">
                  <ng-container *ngFor="let validation of error_messages.newPassword">
                    <div class="error-message"
                      *ngIf="changePwForm.get('newPassword').hasError(validation.type) && (changePwForm.get('newPassword').dirty || changePwForm.get('newPassword').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item class="items">
                  <ion-label class="fixedLabels">Confirm Password:</ion-label>
                  <ion-input start #cfPassword type="password" (keyup)="ConfirmPw()"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div class="error-messages">
                  <div class="error-message" *ngIf="!passwordMatch">
                    <p>The password does not match!</p>
                  </div>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item class="items borderless">
                <ion-button id="changeBtn" type="submit" (click)="ChangePassword()" [disabled]="!btnClickable" >Change</ion-button>
              </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid class="fillGrid fillGridBottom">
    <ion-row>
      <ion-col>
        <ion-item class="items borderless">
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
