.items{
    height:100%;
    vertical-align: middle;
    //--ion-background-color: transparent !important;
}

h2{
    text-align: center;
    width: 100%;
    font-weight: bold;
}

.borderless{
    --ion-border-color: transparent !important;
}

#circleIcon{
    font-size: x-large;
    color:white;
}

#circleIcon:hover{
    color:#dcddde;
}

.error-messages {
    font-size: 0.7em;
    color: red;
    text-align: center;
}

#changeBtn{
    width:100%;
    border-radius: 5px;
    font-size: medium;
    height: 35px;
    border: 0px solid;
}

.fillGrid{
    background:transparent none !important;
}

.fillGrid ion-item{
    --background:transparent none !important;
}

.fillGridTop{
    height:35%;
}

.fillGridBottom{
    height:15%;
}

#centerGrid{
    height:300px;
    background:white !important;
    margin:0 15px;
    border-radius: 8px;
}

#centerRow{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.fixedLabels{
    font-size: smaller;
}