<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-content padding>
    <form [formGroup]="registerForm">
      <!-- Admin number + Error msg -->
      <ion-item>
          <ion-label position="floating">Admin Number:</ion-label>
          <ion-input formControlName="adminNum" type="text" #adminNum></ion-input>
      </ion-item>
      <div class="error-messages">
        <ng-container *ngFor="let validation of error_messages.adminNum">
          <div class="error-message" *ngIf="registerForm.get('adminNum').hasError(validation.type) && (registerForm.get('adminNum').dirty || registerForm.get('adminNum').touched)">
            <ion-icon name="alert"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <!-- Password/Confirm Password + Error msg -->
      <ion-item>
        <ion-label position="floating">Password:</ion-label>
        <ion-input formControlName="password" type="password" #password (keyup)="confirmPw()"></ion-input>
      </ion-item>
      <div class="error-messages">
        <ng-container *ngFor="let validation of error_messages.password">
          <div class="error-message" *ngIf="registerForm.get('password').hasError(validation.type) && (registerForm.get('password').dirty || registerForm.get('password').touched)">
            <ion-icon name="alert"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>
  
      <ion-item>
        <ion-label position="floating">Retype Password:</ion-label>
        <ion-input type="password" (keyup)="confirmPw()" #Cpassword></ion-input>
      </ion-item>
  
      <div class="error-messages">
        <div class="error-message" *ngIf="!confirmedPw">
          <p><ion-icon name="alert"></ion-icon> The password you entered do not match</p>
        </div>
      </div>
      <br><br>
      <ion-button expand="block" type="submit" [disabled]="!buttonClikable"
       (click)="registerDB()">Register</ion-button>
    </form>

</ion-content>
